<!-- BRENO COLTRO DA COSTA
FERNANDO DE FACIO ROSSETTI
GIOVANE BRUNO NARDARI
LUIS HENRRIQUE CREPALDI MOLAS -->

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/login.css" rel="stylesheet">
  <script src="/js/login.js" defer></script>
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/slider.css" rel="stylesheet">
  <link href="/css/fundo.css" rel="stylesheet" >
  <link href="/css/quadrado_de_noticias_index.css" rel="stylesheet" >
  <link href="/css/menu_topo.css" rel="stylesheet" >
  <link href="/css/carrossel_index.css" rel="stylesheet" >
  <script src="/js/carrossel_index.js" defer></script>
  <!-- <script src="index.js" defer></script> -->
  <title>GERMINA | Home</title>
</head>
<body>
  <%- include('./partials/menu_topo') %>
  <%- include('./partials/login') %> 
<div class="corpo_interno">
    <%- include('./partials/slider') %> 
  <div class="corpo_esquerdo">
    <%- include('./partials/carrossel_index') %> 
  </div>
 <div class="corpo_direito">
  <% for(let i=0; i< 2 ;i++) { %>
    <%- include('./partials/quadrado_noticia') %> 
    <% } %>  
 </div> 
</div>
<%- include('./partials/fundo') %> 
</body>
</html>