
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/login.css" rel="stylesheet">
  <script src="/js/login.js" defer></script>
  <link href="/css/quadrado_de_noticias.css" rel="stylesheet">
  <link href="/css/slider.css" rel="stylesheet">
  <link href="/css/menu_topo.css" rel="stylesheet" >
  <link href="/css/fundo.css" rel="stylesheet" >
  <title>GERMINA | Home</title>
</head>
<body>
  <%- include('./partials/menu_topo') %> 
  <%- include('./partials/login') %> 
  <%- include('./partials/slider') %> 
  <div class="corpo_interno">
    <% for(let noticia of noticias) { %>
      <div class="moldura" >
          <a href="/noticia/<%= noticia.idNoticia %>">
            <div class="noticia1_container">
              <div class="noticia1_square">
                <img class="noticia1_img" style="width:100%;"  src="<%= noticia.imagem %>">
                <p class="noticia1_h1"><%= noticia.titulo %></p>
                <p class="noticia1_p"><%= noticia.conteudo.slice(0, 75) %>...</p>
              </div>   
            </div>  
        </a>
      </div>
      <% } %>
  </div> 
  <%- include('./partials/fundo') %> 
</body>
</html>