<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/login.js" defer></script>
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/slider.css" rel="stylesheet">
  <link href="/css/menu_topo.css" rel="stylesheet" >
  <link href="/css/fundo.css" rel="stylesheet" >
  <link href="/css/noticia.css" rel="stylesheet" >
  <title>GERMINA | Home</title>
</head>
<body>
  <%- include('./partials/menu_topo') %>
  <%- include('./partials/login') %>
  <%- include('./partials/slider') %>
  <div class="corpo_noticia">
    <img class="img1" src="/<%= noticia.imagem %>">
    <h1><%= noticia.titulo %></h1><br>
    <h5><%= noticia.data %></h5>
    <pre><%= noticia.conteudo %></pre>
    <h5><%= noticia.autor %></h5>
  </div>

  <%- include('./partials/fundo') %> 
</body>
</html>